{% extends 'base.html.twig' %}

{% block body %}
    {% for article in articles %}
    <a href="{{ path('article_update', {'slug' : article.slug} ) }}">Update Article</a>
    <h2>{{ article.title }}/h2>
    <p>Author: {{ article.autor.firstname }} {{ article.autor.lastname }}</p>
    <p>Views: {{ article.countView }}</p>
        {% for tag in article.tags %}
    <ul>
        <li> {{ tag.name }}</li>
    </ul>
    <p>{{ article.content }}</p>
    {% endfor %}
{% endblock %}
